main {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

body {
  box-sizing: none;
}

.image,
.text {
  flex-grow: 1;
  flex-basis: 50%;
}

.image {
  width: 50%;
}

img {
  width: 100%;
}
.text {
  width: 50%;
  padding: 20px;
  text-align: justify;
}

.text h2 {
  color: #7bebff;
}
