html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #1f1f1f;
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

header h3 {
  color: orange;
}

nav {
  background-color: #2c2b2b;
  padding: 2px 0;
}

nav a {
  font-size: larger;
  text-decoration: none;
  color: white;
  margin: 20px;
}

nav a:hover {
  background-color: #1f1f1f;
}

main {
  margin-bottom: 80px;
}

footer {
  padding-top: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #2c2b2b;
  color: orange;
}

.active {
  color: orange;
}
